.tiled {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(13, 1fr);
  overflow: hidden;
  background: linear-gradient(#c94b4b, #4b134f);
  gap: 4px;
  padding: 4px;
}

.tile {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid white;
}

.tile:hover {
  border: 2px solid #ff0745;
}

.tile:hover img {
  transform: scale(1.5) rotate(-2deg);
  filter: brightness(110%);
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(95%);
  transition: transform 1.5s cubic-bezier(1, 0.03, 0.74, 0.61);
}
